POSTMARK_SERVER_TOKEN=test-token-0000-0000-000000
POSTMARK_ACCOUNT_TOKEN=test-token-0000-0000-000000
POSTMARK_SENDER_EMAIL=test@example.com
POSTMARK_TEST_MODE=false
POSTMARK_TRACK_OPENS=true
POSTMARK_LOG_LEVEL=1