export POSTMARK_SERVER_TOKEN=xxx-YOUR-SERVER-TOKEN-xxxx-xxxxxxx
export POSTMARK_ACCOUNT_TOKEN=xxx-YOUR-ACCOUNT-TOKEN-xxxx-xxxxxxx
export POSTMARK_SENDER_EMAIL=test@example.com
export POSTMARK_TEST_MODE=false
export POSTMARK_TRACK_OPENS=true
export POSTMARK_LOG_LEVEL=1
